[defaults]
inventory = ./inventory
private_key_file = ~/.ssh/id_rsa
gathering = explicit
remote_user = arslankhan
# ask_vault_pass=True

[ssh_connection]
; ssh_args = -C -o ControlMaster=auto -o ControlPersist=30s
; pipelining = True